<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map/>
    <node name="resources">
      <map>
        <entry key="Language" value="TaalPakket_en_EN.properties"/>
        <entry key="Theme" value="/css/light-theme.css"/>
        <entry key="ResolutionX" value="1920"/>
        <entry key="ResolutionY" value="1005"/>
        <entry key="FullScreen" value="true"/>
        <entry key="Borderless" value="false"/>
        <entry key="SettingsVersion" value="0.5"/>
        <entry key="Music" value="true"/>
        <entry key="SoundFX" value="true"/>
        <entry key="MusicVol" value="63.49206349206349"/>
        <entry key="SoundFXVol" value="100"/>
        <entry key="uiscale" value="100"/>
        <entry key="PlaylistName" value="house"/>
        <entry key="ShortGamemode" value="true"/>
        <entry key="Experimental" value="true"/>
      </map>
    </node>
  </root>
</preferences>
