
.root{
	-fx-background-color: green;
}
#tabel
{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 10px;
	
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-min-width: 36px;
	-fx-max-width: 50px;
	-fx-min-height: 16px;
}
#Eindtotaal
{
	-fx-background-color: gray;
	-fx-text-fill: white;
	-fx-font-size: 10px;
	-fx-padding : 5px;
	-fx-min-width: 36px;
	-fx-min-height: 16px;
}

#verhogingsfactor
{
	-fx-background-color: gray;
	-fx-text-fill: white;
	-fx-font-size: 10px;
	-fx-padding: 3px;
	-fx-border-style: solid;	
	-fx-border-color: black;
	-fx-min-width: 36px;
	-fx-min-height: 16px;
}


.label{
	 -fx-text-fill: white;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-border-style: solid;
    -fx-label-padding: 2px;
}

.hyperlink {
    -fx-text-fill: white;
    -fx-underline: true;
}

.hyperlink:hover {
    -fx-text-fill: gray;
}

#Wit{
	-fx-background-color: white;
	
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-min-width: 15px;
	-fx-min-height: 15px;
	-fx-padding: 0px;
}

#Grijs{
	-fx-background-color: gray;
	-fx-text-fill: #FFFFFF;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-min-width: 15px;
	-fx-min-height: 15px;
	-fx-padding: 0px;
}

#errorLabel{
	-fx-pref-height: 50px;
	-fx-padding:10px;
        -fx-text-fill: black;
        -fx-background-color: white;
}

#streep{
	-fx-border-style: solid;
	-fx-border-color: gray;
	-fx-max-height: 0.5px;

	
}

#errorOK{
	-fx-font-weight: normal;
	 -fx-text-fill: #333333;
    -fx-border-style: solid;
	-fx-font-family: Verdana;
	-fx-border-radius: 4px;
	-fx-border-color: #38a5cc;
	-fx-background-radius: 4px;
	-fx-background-color: #90d9f1;
	-fx-font-size: 12px;
	-fx-max-height:50px;
	-fx-pref-width: 100px;
	-fx-padding: 2px;
	-fx-border-insets: 10px;
    -fx-background-insets: 10px;
}
#popup{
        -fx-background-color: white;

}
#tabel
{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-min-width: 40px;
    -fx-max-width: 50px;
    -fx-min-height: 16px;
}
#Eindtotaal
{
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding : 5px;
    -fx-min-width: 40px;
    -fx-max-width: 60px;
    -fx-min-height: 16px;
}

#verhogingsfactor
{
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding: 3px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-min-width: 40px;
    -fx-max-width: 50px;
    -fx-min-height: 16px;
}




